mat-toolbar {
    justify-content: space-between;
    height: 15vh;
    font-size: 32px;
    padding-inline: 50px;
  }
  a{
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  .nav{

  }
  .logo{
    text-decoration: none;
  }
  .content {
    padding: 32px;
  }
  
  .profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
  }
  .mat-button{
    font-size: 32px;
  }
  