<!-- <div>
    <p>{{book.title}}</p>
    <p>{{book.id}}</p>
    <a [routerLink]="['/details', book.id]">details</a>
    <button (click)="addToCart(book)">Add to Cart</button>
</div> -->
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>{{book.title}}</mat-card-title>
    <mat-card-subtitle>By: {{book.author}}</mat-card-subtitle>
    <img mat-card-sm-image src="{{book.image}}" >
  </mat-card-title-group>
  <mat-card-content>
    <p>price: {{book.price}}leva</p>
    <p>rating: {{book.avg_rating}}</p>
  </mat-card-content>
    <a [routerLink]="['/details', book.id]" mat-stroked-button>Details</a>
    <button (click)="addToCart(book)" mat-stroked-button>Add to Cart</button>
</mat-card>
  